.ion-color-header {
    --ion-color-base: #022D5C;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
  }

  .ion-color-secondheader {
    --ion-color-base: #03448C;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
  }

  .ion-color-nav {
    --ion-color-base: #03448C;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0,0,0;
  }

  .ion-color-vibrant {
    --ion-color-base: #ffff00;
    --ion-color-base-rgb: 255,255,0;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #e0e000;
    --ion-color-tint: #ffff1a;
  }