<ion-header>
  <ion-toolbar color="nav">
    <ion-title>Sobre Nosotros</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="ion-text-center"> Version 1.0</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class = "ion-no-padding">
          <ion-img [src]="img"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="ion-text-center">Somos una comunidad que apoya las conductas Fitness, inculcando un cambio de estilo de vida para las personas que lo deseen, a todos aquellos que quieran unirse a esta familia, son todos bienvenidos...</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="ion-text-center"> CONTÁCTANOS!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://cdn.worldvectorlogo.com/logos/gmail-icon-3.svg">
            </ion-avatar>
            <ion-label class="ion-text-center">WorldFit@gmail.com</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://cdn-icons-png.flaticon.com/512/174/174879.png">
            </ion-avatar>
            <ion-label class="ion-text-center">+52 687 165 4344</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
     
  
    </ion-grid>
</ion-content>