.ion-color-nav {
    --ion-color-base: #03448C;
    --ion-color-contrast: #ffffff;
  }

  .ion-color-gray {
    --ion-color-base: #C0CCDA;
    //--ion-color-contrast: #ffffff;
  }


  .ion-color-white {
    --ion-color-base: #C0CCDA;
    //--ion-color-contrast: #ffffff;
  }
  

  .ic{
    position: relative;
    left: 45%;
    font-size: 35px;
  }