<ion-header>
  <ion-toolbar color="nav">
    <ion-title>Ejercicios</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->

          <!-- List of Text Items -->
<ion-list>

  <ion-item button (click)="saveExercise('Espalda')">
    <ion-label>Espalda</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Pecho')">
    <ion-label>Pecho</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Hombros')">
    <ion-label>Hombros</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Cuadriceps')">
    <ion-label>Cuadriceps</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Femorales')">
    <ion-label>Femorales</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Gemelos')">
    <ion-label>Gemelos</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Gluteos')">
    <ion-label>Gluteos</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Abdomen')">
    <ion-label>Abdomen</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Biceps')">
    <ion-label>Biceps</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Triceps')">
    <ion-label>Triceps</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Trapecios')">
    <ion-label>Trapecios</ion-label>
  </ion-item>

  <ion-item button (click)="saveExercise('Antebrazos')">
    <ion-label>Antebrazos</ion-label>
  </ion-item>
</ion-list>


</ion-content>




