<ion-header>
  <ion-toolbar color="nav">
    <ion-title>Motivacion</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Content -->
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/7SC7X8TzXCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Ly7qDdFB494" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/V3ZgTiK8Elo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/NMnCY5lNhuI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/dN33OQBR930" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/rTBoq6i62SQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/FRSllf_j4Pk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/3eX8VoRh1u8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/oAM6H2LqT6A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        <ion-card >
          <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/PEXNfZ-PccQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ion-card-content>  
        </ion-card>
        
</ion-content>