.ion-color-nav {
    --ion-color-base: #03448C;
    --ion-color-contrast: #ffffff;
  }

 /*  img {
    height:190px;
    width: 350px;
  } */

  .b {
    color: black;
  }

  ion-card {
    border: 1px solid black;
 }


 .btn{
  position: absolute;
  //bottom: 20px;
  right: 2%;
  top: 12% ;
  //border: 1px solid #03448C;
}

.pbt{
  position: absolute;

  top: 30%;
}