<ion-header>
  <ion-toolbar class= "ion-text-center" color= "nav">
    <ion-title>Rutina 4</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="closeModal()" name="close-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2> Press inclinado con barra</h2>
        <p> 4 x 6-7</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> Extensiones de pierna</h2>
        <p> 4x 6-7</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> Dominadas</h2>
        <p> 4 x 6-7</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> Curl con barra</h2>
        <p> 2-3 x 15-30s</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
